@model Prog5Assessment.Models.Room
@{
    ViewBag.Title = "NewRoom";
}

<h2>NewRoom</h2>
@using (Html.BeginForm())
{
    <div>
        <fieldset>
            <legend>
                Room Form
            </legend>
            <!-- minimal price -->
            <div>
                @Html.LabelFor(u => u.MinPrice)
            </div>
            <div>
                @Html.TextBoxFor(u => u.MinPrice)
            </div>
            <!-- max number of persons -->
            <div>
                @Html.LabelFor(u => u.MaxPersons)
            </div>
            <div>
                @Html.TextBoxFor(u => u.MaxPersons)
            </div>
            <!-- submit -->
            <input type="submit" value="Submit" />

        </fieldset>
    </div>
}